<?xml version='1.0'?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer name="paytr_controller_dispatch" instance="Paytr\Payment\Observer\ControllerActionPredispatch" shared="false" />
    </event>
    <event name="checkout_onepage_controller_success_action">
        <observer name="checkout_onepage_controller_success_action_sendmail" instance="Paytr\Payment\Observer\SendMailOnOrderSuccess" shared="false" />
      </event>
</config>
